
html, body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: red;
}


/* Disable text selection on element */

.u-noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Box sizing */

.u-bb {
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	
}

/* Clearfix */

.u-cf:before, .u-cf:after { content: " "; display: table; }
.u-cf:after { clear: both; }
.u-cf { *zoom: 1; }



.wrapper {
	width: 100%;
	margin: 0 auto;
}

 /* HEADER */

.header {
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: rgb(40,40,40);
}

.header-left {
	width: 30%;
	float: left;
}

.header-left img {
	display: block;
	width: 90px;
	height: 60px;
}

.header-right {
	float: right;
}

.header-right ul {
	margin: 0;
}

.header-right ul li {
	display: inline-block;
	list-style: none;
	font-size: 18px; 
	text-decoration: none;
}

.header-right a {
	display: inline-block;
	color: #fff;
	padding: 18px 30px;
	text-decoration: none;
}

.header-right a:hover {
	background-color: #525252;
}

 /* ********** */

  /* ABOUT */

.about-hero {
	display: none;
	width: 100%;
	height: 500px;
	background-size: cover;
	position: relative;
	background-image: url('../img/algorithm.jpg');
	opacity: 0.3;
}

.about {
 	padding: 40px 0;
 	margin-top: 60px;
 	/*position: absolute;*/
 	top: 60px;
}

.about-title {
	text-align: center;
	margin-bottom: 70px;
}

.left {
	width: 50%;
	float: left;
}

.left p {
	width: 85%;
	float: left;
	margin-left: 25px;
	text-align: left;
	line-height: 26px;
}

.right {
	width: 50%;
	float: left;
}

.right p {
	width: 85%;
	float: right;
	margin-right: 25px;
	text-align: right;
	line-height: 26px;
}


 /* ********** */

  /* ALGORITHM */

.algorithm-wrapper {
	width: 100%;
	margin: 90px 0;
}

.algorithm-left {
	width: 30%;
	float: left;
}

.algorithm-left p {
	text-align: center;
}

.submenu ul li {
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 35%;
	text-decoration: none;
	list-style: none;
	padding: 10px 20px;
	background-color: #dadada;
	margin: 15px auto;
	border-radius: 4px;
}

.submenu a {
	display: block;
	text-decoration: none;
	color: red;
	margin: 0 auto;
	width: 60%;
}

.algorithm-right {
	width: 70%;
	float: left;
}


.dijkstra {
	width: 600px;
	height: 350px;
	margin: 0 auto;
	background-image: url('../img/dijkstra.png');
	background-size: cover;
}


















